{% extends 'base.html' %}

{% block title %}bookmark form{% endblock %}

{% block content %}
    <div id="content">
        <h1>Bookmark Create/Update - {{ user }}</h1>
    <form action="." method="post">
        {% csrf_token %}
        {% if form.error %}
            <p class="errornote">Wrong! Please correct the error(s) below.</p>
        {% endif %}
        <p>This is a creation or update form for your bookmark.</p>
        {{ form.as_p }}
    <div class="submit-row">
        <input type="submit" value="Submit"/>
    </div>
    </form>
    </div>
{% endblock content %}